body{
  margin: 0;
  overflow: hidden;
  font-family: 'Roboto';
}

.content{
  width: 100%;
  height: 100vh;
}

.content-center{
  width: 90%;
  margin: 0 auto;
  position: relative;
  height: 100%;
  color: white;
}

h1,h2,h3,h4,p{
  margin: 0;
}